@model BestRestaurants.Models.Restaurant;

@* <h1>Add a new Restaurant of the @ViewBag.theCuisine.Name cuisine below</h1> *@

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @* @Html.LabelFor(model => model.CuisineId)
    @Html.DropDownList("CuisineId") *@

    <input type="hidden" value="@ViewBag.CuisineId" name="CuisineId" />

    @* @Html.HiddenFor(model => model.CuisineId, new { Value = @ViewBag.theCuisine.CuisineId }) *@

    <input type="submit" value="Add the restaurant"/>
   
}